
<div class="container" *ngIf="localidad != null">

  <div class="row"><div class="col s8 offset-s2">
      <h5 class="center" *ngIf="esNuevo">Nuevo Localidad:</h5>
      <h5 class="center" *ngIf="!esNuevo">Editando Localidad:</h5>
  <form (ngSubmit)="grabarProvincia()">
    <div class="row">
      <div class="input-field col s12">
        <input id="identificador" type="number" class="validate"
        name="identificadorlocalidad" [(ngModel)]="localidad.id" required>
        <label for="identificadorlocalidad">ID</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="nombrelocalidad" type="text" class="validate"
          name="nombrelocalidad" [(ngModel)]="localidad.nombre" required>
        <label for="nombre">Nombre</label>
      </div>
    </div>
    <div class="row" *ngIf="(localidad.departamento == null || localidad.departamento == undefined) && listadoDepartamentos != null">
      <div class="input-field col s12">
        <select class="browser-default"
          name="departamentolocali" [(ngModel)]="localidad.departamento">
          <option *ngFor="let departamento of listadoDepartamentos" [ngValue]="departamento">{{departamento.id}} - {{departamento.nombre}}</option> 
        </select>
        <label>Departamento</label>
        
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
          <span *ngIf="localidad.departamento != null && localidad.departamento != undefined">
          Departamento: {{localidad.departamento.nombre}}
           <a class="waves-effect waves-light btn right" (click)="editarDepartamentoDeLocaliadad()"><i class="material-icons">edit</i></a>
        </span>
      </div>
    </div>

     <div class="row">
       <div class="col s12 center">
          <a class="waves-effect waves-light btn" (click)="guardarLocalidad()"><i class="material-icons left">save</i> Guardar</a>
        <a class="waves-effect waves-light btn blue" (click)="cancelar()"><i class="material-icons left">cancel</i> Cancelar</a>
       </div>
     </div>
  </form>
  </div></div>
</div>