
<h3 class="center">Lab4 - Geo: Poletti Mateo</h3>
<div class="row">
  <div class="col s6" style="border: 2px solid grey">
    <mp-departamento-lista #departamentolista
     (departamentoAEditar)="departamento.getDepartamentoAEditar($event)"
     (nuevoDepartamento)="departamento.nuevoDepartamento()"
    ></mp-departamento-lista>
    <mp-departamento-nuevoeditar #departamento
      (actualizarListado)="departamentolista.traerDepartamentos()"
    ></mp-departamento-nuevoeditar>
  </div>

  <div class="col s6" style="border: 2px solid grey">
    <mp-localidad-lista #localidadlista
     (localidadAEditar)="localidad.getLocalidadAEditar($event)"
     (nuevoLocalidad)="localidad.nuevoLocalidad()"
    ></mp-localidad-lista>
    <mp-localidad-nuevoeditar #localidad
      (actualizarListado)="localidadlista.traerLocalidades()"
    ></mp-localidad-nuevoeditar>
  </div>
</div>
<router-outlet></router-outlet>
